﻿@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Genre
        </dt>

        <dd>
            @Model.Genre.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Model.ReleaseDate.ToLongDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Model.DateAdded.ToLongDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>
    </dl>
</div>
