﻿@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Genre
        </th>

    </tr>

@foreach (var movie in Model) {
    <tr>
        <td>
            @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)
        </td>
        <td>
            @movie.Genre.Name
        </td>
    </tr>
}

</table>
