﻿@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if(Model.Birthdate != null)
    {
        <li>Birth Date: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>
