﻿@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<table id="customers" class="table">
    <tr>
        <th>
            Customer
        </th>
        <th>
            Membership Type
        </th>
        <th>
            Delete
        </th>
    </tr>

@foreach (var customer in Model) {
    <tr>
        <td>
            @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
        </td>
        <td>
            @customer.MembershipType.Name
        </td>
        <td>
            <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
        </td>
    </tr>
}

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}
